@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 255 252;
    --foreground: 10 20 15;
    --card: 245 255 250;
    --card-foreground: 5 60 35;
    --popover: 248 255 251;
    --popover-foreground: 10 45 28;
    --primary: 22 163 74;
    --primary-foreground: 240 255 245;
    --primary-accent: 34 197 94;
    --secondary: 237 243 240;
    --secondary-foreground: 71 85 78;
    --secondary-accent: 225 238 230;
    --muted: 200 215 208;
    --muted-foreground: 71 85 78;
    --accent: 16 185 129;
    --accent-foreground: 240 255 248;
    --success: 244 252 246;
    --success-foreground: 65 176 87;
    --warning: 255 253 238;
    --warning-foreground: 244 197 25;
    --destructive: 255 246 250;
    --destructive-foreground: 246 100 157;
    --border: 209 235 220;
    --input: 235 245 240;
    --ring: 1rem;
  }
  .dark {
    --background: 10 15 12;
    --foreground: 235 255 245;
    --card: 20 30 25;
    --card-foreground: 200 240 220;
    --popover: 15 25 20;
    --popover-foreground: 240 255 248;
    --primary: 34 197 94;
    --primary-foreground: 240 255 245;
    --primary-accent: 74 222 128;
    --secondary: 30 40 35;
    --secondary-foreground: 180 200 190;
    --secondary-accent: 40 55 48;
    --muted: 60 75 68;
    --muted-foreground: 180 200 190;
    --accent: 22 163 74;
    --accent-foreground: 240 255 248;
    --success: 8 113 29;
    --success-foreground: 221 242 225;
    --warning: 244 197 25;
    --warning-foreground: 255 253 238;
    --destructive: 246 100 157;
    --destructive-foreground: 255 246 250;
    --border: 45 60 52;
    --input: 45 60 52;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(var(--background));
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--muted));
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--muted-foreground));
  }
}

@layer components {
  .link {
    @apply rounded-sm decoration-green-500 decoration-2 hover:underline focus:outline-none focus-visible:ring-2 focus-visible:ring-green-500;
  }
}
